# Ignore everything by default.
*

# Keep repo metadata files.
!.gitignore
!README.md

# GitHub CLI config.
!gh/
gh/*
!gh/config.yml

# Karabiner config.
!karabiner/
karabiner/*
!karabiner/karabiner.json
